<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.thumbnailUrl" [src]="product.thumbnailUrl">
                    <img *ngIf="!product.thumbnailUrl" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Product Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-product-button" [disabled]="productForm.invalid"
                *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-product-button"
                [disabled]="productForm.invalid || productForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveProduct()">
                <span>SAVE</span>
            </button>

            <button mat-raised-button class="publish-product-button" (click)="publishProduct($event)">
                <span>PUBLISH</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group [selectedIndex]="selectedTab">

                    <mat-tab label="Basic Info">

                        <div class="tab-content p-24" fusePerfectScrollbar>

                            <product-form [productForm]="productForm"></product-form>
                            <!-- <div fxLayout="row" fxLayoutAlign="end none" class="mt-12">
                                <button mat-raised-button class="next-action-button" color="primary"
                                    [disabled]="productForm.invalid || productForm.pristine" (click)="selectedTab = 1">
                                    <span>NEXT</span>
                                </button>
                            </div> -->
                        </div>

                    </mat-tab>

                    <!-- [disabled]="productForm.invalid || productForm.pristine" -->
                    <mat-tab label="SKU Info">

                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <product-sku-form [productForm]="productForm" [product]="product" (addAttribute)="addProductAttribute($event)" (addOption)="addProductOption($event)"></product-sku-form>
                            <!-- <div fxLayout="row" fxLayoutAlign="end none" class="mt-12">
                                <button mat-raised-button class="next-action-button" color="primary"
                                    [disabled]="productForm.invalid || productForm.pristine" (click)="selectedTab = 2">
                                    <span>NEXT</span>
                                </button>
                            </div> -->
                            <!-- <div fxLayout="row wrap" fxLayoutAlign="start start">
                                <div *ngIf="product.images.length === 0" class="product-image" fxlayout="row"
                                    fxLayoutAlign="center center">
                                    <img class="media" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                </div>

                                <div *ngFor="let image of product.images">
                                    <div *ngIf="product.images.length > 0" class="product-image" fxlayout="row"
                                        fxLayoutAlign="center center">
                                        <img class="media" [src]="image.url">
                                    </div>
                                </div>
                                
                            </div> -->
                        </div>

                    </mat-tab>

                    <mat-tab label="Decoration">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <h3 class="first">Long Description</h3>
                            <p-editor [(ngModel)]="description" [style]="{'height':'400px'}"></p-editor>
                            <h3 class="first">Highlights</h3>
                            <p-editor [(ngModel)]="description" [style]="{'height':'300px'}">
                                <p-header>
                                    <span class="ql-formats">
                                        <select class="ql-size">
                                            <option value="small"></option>
                                            <!-- Note a missing, thus falsy value, is used to reset to default -->
                                            <option selected></option>
                                            <option value="large"></option>
                                            <option value="huge"></option>
                                        </select>
                                        <button class="ql-bold" aria-label="Bold"></button>
                                        <button class="ql-italic" aria-label="Italic"></button>
                                        <button class="ql-underline" aria-label="Underline"></button>
                                        <button class="ql-script" value="sub"></button>
                                        <button class="ql-script" value="super"></button>
                                    </span>
                                </p-header>
                            </p-editor>
                        </div>
                    </mat-tab>

                    <!-- <mat-tab label="Highlights">

                        <div class="tab-content p-24" fusePerfectScrollbar>

                        </div>
                    </mat-tab> -->

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>