<div class="navbar-top" [ngClass]="rootConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/root.svg">
        <span class="logo-text secondary-text">ZEZAWAR</span>
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened" (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="rootConfig.layout.navbar.primaryBackground" rootPerfectScrollbar
    [rootPerfectScrollbarOptions]="{suppressScrollX: true}" [ngSwitch]="isAuthenticated()">

    <div class="user" fxLayout="column" [ngClass]="rootConfig.layout.navbar.secondaryBackground">

        <div class="h3 username">{{(merchant$ | async)?.merchantName}}</div>
        <div class="h5 email hint-text mt-8">{{account?.email}}</div>
        <div class="avatar-container" [ngClass]="rootConfig.layout.navbar.primaryBackground">           
            <img class="avatar" [src]="'data:' + (merchant$ | async)?.avatarContentType + ';base64,' + (merchant$ | async)?.avatar" alt="avatar image" draggable="false" />
        </div>

    </div>

    <div class="navbar-content">
        <root-navigation class="material2" layout="vertical"></root-navigation>
    </div>

</div>