<form name="productsForm" [formGroup]="productsForm" class="product-sku-form w-100-p">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field class="w-100-p attribute-list">
                    <mat-label>{{productChoice?.productAttributeSetName}}</mat-label>
                    <mat-select formControlName="productAttribute" #attributeSelect>
                        <mat-option *ngFor="let attribute of (productAttributeList$ | async)" [value]="attribute">
                            {{attribute.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="ml-12" mat-raised-button color="accent" (click)="addAttribute($event)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <!-- productSku.addAttribute(productAttribute) -->
        </div>
        <mat-chip-list #attributeList name="attributeList" formControlName="productAttributeList">
            <mat-chip *ngFor="let attribute of products.productAttributeList" [removable]="true"
                (removed)="products.removeAttribute(attribute)">
                {{attribute.value}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>

            <input [matChipInputFor]="attributeList" [matChipInputAddOnBlur]="true" readonly />
        </mat-chip-list>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field class="w-100-p option-list">
                    <mat-label>{{productChoice?.productOptionSetValue}}</mat-label>
                    <mat-select formControlName="productOption" #optionSelect>
                        <mat-option *ngFor="let options of (productOptionList$ | async)" [value]="options">
                            {{options.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="ml-12" mat-raised-button color="accent" (click)="addOption($event)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <mat-chip-list #optionList name="optionList" formControlName="productOptionList">

            <mat-chip *ngFor="let productOption of products.productOptionList" [removable]="true"
                (removed)="products.removeOption(productOption)">
                {{productOption.value}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>

            <input [matChipInputFor]="optionList" [matChipInputAddOnBlur]="true" readonly />

        </mat-chip-list>
    </div>
</form>

<p-table [columns]="stockItemsColumns" [value]="products.stockItemLists" [responsive]="true" dataKey="guid">
    <ng-template pTemplate="caption">
        Stock Item Product
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns" [hidden]="col.header=='guid'">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" let-editing="editing"
        let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="productAttributeListCombo" [(ngModel)]="rowData.productAttribute"
                            disabled></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.productAttribute.value}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="productOptionListCombo" [(ngModel)]="rowData.productOption" disabled>
                        </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.productOption.value}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn *ngFor="let col of columns|slice:3:11">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData[col.field]">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length">
                <div class="upload-wrapper">

                    <div class="upload-item" *ngFor="let photo of rowData.photoLists; let i = index">

                        <input hidden type="file" accept="image/*" [id]="photo.id" #originalBlob
                            [style.display]="'none'" (change)="setFileData($event, photo, 'originalPhotoBlob', true)" />

                        <div class="upload-control" *ngIf="!photo.originalPhotoBlob;else preview">
                            <span>
                                <!--  -->
                                <div class="image-upload-btn" (click)="originalBlob.click()">
                                    <!-- <fa-icon icon="image"
                                        class="next-icon next-icon-add next-icon-medium upload-btn-icon">
                                    </fa-icon> -->
                                    <mat-icon class="next-icon next-icon-add next-icon-medium upload-btn-icon">
                                        add_a_photo</mat-icon>
                                    <p class="upload-text">Upload Image</p>
                                </div>
                            </span>
                        </div>
                        <ng-template #preview>
                            <div>
                                <a (click)="clearInputImage(photo)" class="close-image" matTooltip="Clear Image">
                                    <mat-icon>close</mat-icon>
                                </a>
                            </div>
                            <div class="image-preview">
                                <img [src]="'data:' + photo.thumbnailPhotoBlobContentType + ';base64,' + photo.thumbnailPhotoBlob"
                                    style="max-height: 100px;" alt="stock item image" draggable="false" />
                            </div>
                        </ng-template>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>