#category-form-dialog {
    .ui-tree {
        width: 100% !important;
    }
}

.pi {
    font-family: 'primeicons' !important;
}

#product-decoration{
    >input{
        width: 100% !important;
    }
}