<!-- <form name="productsForm" id="product-decoration" [formGroup]="productsForm" class="product-decoration-form w-100-p">
    <h3 class="first">Long Description</h3>
    <p-editor [(ngModel)]="description" [style]="{'height':'400px'}"></p-editor>
    <h3 class="first">Video URL</h3>
    <input id="input" type="text" pInputText [(ngModel)]="text"> 
    <h3 class="first">Highlights</h3>
    <p-editor [(ngModel)]="description" [style]="{'height':'300px'}">
        <p-header>
            <span class="ql-formats">
                <select class="ql-size">
                    <option value="small"></option>
                    <option selected></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                </select>
                <button class="ql-bold" aria-label="Bold"></button>
                <button class="ql-italic" aria-label="Italic"></button>
                <button class="ql-underline" aria-label="Underline"></button>
                <button class="ql-script" value="sub"></button>
                <button class="ql-script" value="super"></button>
            </span>
        </p-header>
    </p-editor>
</form> -->